<div class="row">
    <div class="col-4 offset-3">
        <h2>Hobbyについて</h2>
    </div>
</div>
<div class="row">
    <div class="col-8 offset-2">
        <p>こちらは某掲示板を意識して作っております。<br>
        レスが一定期間ないスレッドの削除、<br>
        コメント上限に達したスレッドは30分〜１時間後には削除されます。</p>
    </div>
</div>