<div class="row">
    <div class="col-4 offset-3">
        <h2>Hobbyについて</h2>
    </div>
</div>
<div class="row">
    <div class="col-8 offset-2">
        <p>こちらは某掲示板を意識して作っております。<br>
        何か質問があれば、下記の項目をご覧ください。<br>
        解決しない場合はこちら〜<%= link_to "問合せフォーム", users_contacts_new_path %>〜の利用も検討してください。</p>
    </div>
</div>
<div class="row">
    <div class="col-8 offset-3">
        <h3>よくある質問</h3>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            スレッドが消えている<%#（buttonタグ) %>
        </button>
        <div class="collapse" id="collapseExample">
            <div class="border p-3">
            ・スレッドのコメント上限に達した（）<br>
            ・スレッドに一定期間レスがない（最後のレスから１週間経過、）
            </div>
        </div>
    </div>
</div>