<div class="row">
    <div class="col-4 offset-3">
        <h2>Hobbyについて</h2>
    </div>
</div>
<div class="row">
    <div class="col-8 offset-2">
        <p>こちらは某掲示板を意識して作っております。<br>
        何か質問があれば、下記の項目をご覧ください。<br>
        解決しない場合はこちら〜<%= link_to "問合せフォーム", users_contacts_new_path %>〜の利用も検討してください。</p>
    </div>
</div>
<div class="row">
    <div class="col-8 offset-3">
        <h3 class="mt-3">よくある質問</h3>
        <button type="button" class="btn btn-muted mt-4" data-toggle="collapse" data-target="#coll_Example_board_delete" aria-expanded="false" aria-controls="coll_Example_board_delete">
            スレッドが消えている<%#（buttonタグ) %>
        </button>
        <div class="collapse" id="coll_Example_board_delete">
            <div class="border p-3">
            ・スレッドのコメント上限に達した（300レス）<br>
            ・スレッドに一定期間レスがない（最後のレスから１週間経過）<br>
            上記の理由、もしくは管理人が不適切と判断した場合は削除させて頂いております。
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-8 offset-3">
        <button type="button" class="btn btn-muted mt-2" data-toggle="collapse" data-target="#coll_Example_limit" aria-expanded="false" aria-controls="coll_Example_limit">
            諸々の上限について
        </button>
        <div class="collapse" id="coll_Example_limit">
            <div class="border p-3">
            ・１人のユーザーが同時に保持できるスレッドは５個が限度です。<br>
            ・１個のスレッドに対して付与できるタグは５個が限度です。<br>
            ・１個のスレッドに対してレスできるのは合計で300までとなっております。
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-8 offset-3">
        <button type="button" class="btn btn-muted mt-2" data-toggle="collapse" data-target="#coll_Example_Withdrawal" aria-expanded="false" aria-controls="coll_Example_Withdrawal">
            退会方法について
        </button>
        <div class="collapse" id="coll_Example_Withdrawal">
            <div class="border p-3">
            ・現状、退会の機能については実装できておりません。。<br>
              削除した際のレスの扱いに難儀しております。。少々お待ちを。
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-8 offset-3">
        <button type="button" class="btn btn-muted mt-2" data-toggle="collapse" data-target="#coll_Example_plans" aria-expanded="false" aria-controls="coll_Example_plans">
            今後実装予定の機能、、
        </button>
        <div class="collapse" id="coll_Example_plans">
            <div class="border p-3">
            ・アンカー機能<br>
            ・ユーザー削除機能<br>
            ・あぼーん化
            </div>
        </div>
    </div>
</div>