    <div class="row">
        <div class="col-md-3">
            <div style="height : 50px;"></div>
            <h5>ブックマークランキング</h5>
            <table class="table table-borderless">
            <% @all_ranks.each_with_index do |bookmark, i| %>
                <tr>
                    <td>
                        <%= i + 1 %>位
                        <%= link_to bookmark.title, users_board_path(bookmark.id) %>
                        <span class="fas fa-bookmark"><%= bookmark.bookmarks.count %></span>
                    </td>
                </tr>
            <% end %>
            </table>
            <table class="table table-borderless">
            <h5>タグ名(ランダム表示)</h5>
            <% @random.each do |tag| %>
                <tr>
                    <td>
                        <%= link_to tag.name, users_tags_path(tag: tag.name) %>
                    </td>
                </tr>
            <% end %>
            </table>
        </div>
    
        <div class="col-md-8">
            <h1>Hobbyへようこそ！</h1>
            <p>スレッドにどんどんコメントをください！！！<br>
               ここは知識を浅く広く取得する場所になっております。。。<br>
               そうなる事を望んでおります！！！<br>
               暇な時に軽い気持ちでご使用ください。<br>
               また性善説で成り立っておりますのでその点もご配慮頂ければと思います。<br>
               スレッドの作成、コメント投稿等に関してはログインが必要です。ご理解ください_(┐「ε:)_<br>
               <%# ※目に余る事がありましたらこちらまで。。 %>
            </p>
        </div>
    </div>