<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Hobbyへようこそ！</h1>
            <p>ここは知識を浅く広く取得する場所になっております。<br>
               暇な時に軽い気持ちでご使用ください。。。<br>
               また性善説で成り立っておりますのでその点もご配慮頂ければと思います。<br>
               ※目に余る事がありましたらこちらまで。。
            </p>
        </div>
        <div class="col-md-2">
            <%= link_to "スレッド新規作成", new_users_board_path %>
        </div>
    </div>
</div>