<div class="container">
    <div class="rwo">
        <div class="col-md-6 col-md-offset-1">
            <h3>マイページ</h3>
        </div>
    </div>
    <div class="rwo">
        <%= render 'info', user: @user %>
    </div>
</div>
