<div class="container">
    <div class="rwo">
        <div class="col-md-6 col-md-offset-1">
            <h3>マイページ</h3>
        </div>
    </div>
    <div class="rwo">
    <%# 以下部分テンプレート予定 %>
        <div class="col-md-8">
            <%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>            
            <%= @user.nickname %>
            <%= @user.introduction %>
        </div>
    </div>
    <% if @user == current_user %>
        <div class='row'>
            <%= link_to '編集',edit_users_user_path(@user),class: "col-xs-6 col-md-offset-4 btn btn-default glyphicon glyphicon-wrench" %>
        </div>
    <% end %>
</div>
