<% if @model == 'user' %>
    <div class="row">
        <h3>ユーザー検索結果 '<%= @content %>'</h3>
        <%= render 'users/users/index', users: @records %>
    </div>
<% else @model == 'books' %>
    <div class="row">
        <h3>スレッド検索結果 '<%= @content %>'</h3>
        <%= render 'boards/index', boards: @records %>
    </div>
<% end %>