<% if current_user.bookmark_map?(board) %>
  <div style='display: inline; float: right;'>
  <li  aria-hidden="true">
    <%= link_to "削除する", edit_users_board_path(board), class: 'fas fa-trash-alt' %>
  </li>
    <%= link_to users_board_path(board) %>
  </div>
<% else %>
  <div style='display: inline; float: right;'>
    <%= render 'boards/bookmark_area', board: board %>
  </div>
<% end %> 