<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <% @boards.each do |board| %>
                <%= link_to board.title, users_board_path(board.id) %>
                    <%# <%= boaed.tag.name %>
            <% end %>
        </div>
    </div>
    <div class="row d-flex">
        <%= render @boards %>
    </div>
</div>