<div class="container">
    <div class="rwo">
        <div class="col-md-7 col-md-offset-1">
            <h3>ユーザーページ</h3>
            <p class="text-primary">
                <%= flash[:notice] %>
            </p>
        </div>
    </div>
    <div class="rwo">
        <%= render 'admins/users/info', user: @user %>
    </div>
    <div class="row">
            
        <div class="col-md-5 offset-md-2">
        <p>ユーザー直近コメント→→スレッド</p>
            <table class="table table-borderless">
                <tr>
                    <td>
                        <% @order_boards.each do |board| %>
                            <ul>
                                <li>
                                    <%= link_to board.title, users_board_path(board.id) %>
                                </li>
                            </ul>
                        <% end %>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
