<div class="row">
    <h2>Follow Users</h2>
    <% if @users.count > 0 %>
      <%= render 'users/users/index', users: @users %>
    <% else %>
    <div class="row">
        <div class="col-md-6 offset-1 m-5">
        <p>ユーザーはいません......</p>
    </div>
    <% end %>
</div>