<div class="row">
    <div class="col-7 offset-3">
        <h1>管理者画面だぞ</h1>
    <div class="row mt-5">
        <div class="col-8 offset-2">
            <h3>本日の通報件数件数</h3>
            <%= link_to @day_contact.count,admins_contacts_path %>
        </div>
    </div>
    </div>
</div>