<div class="row">
    <div class="col-7 offset-3">
        <h1>管理者画面</h1>
        <%# 管理者画面とすぐに判るよう、画面の背景を帰るべき？？？ %>
    <div class="row mt-5">
        <div class="col-6 offset-2">
            <h3>本日の通報件数件数</h3>
            <h4 class="text-center"><%= link_to @day_contact.count,admins_contacts_path %></h4>
        </div>
    </div>
    </div>
    
</div>