/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@import 'font-awesome-sprockets';
@import 'font-awesome';

.groundimage {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: image-url("spikes.png");
    background-size: cover;
}

footer {
    background: linear-gradient(-135deg, #E3E3E3 ,#5D6874);
    height: 100px;
}

.copyright {
    padding: 30px;
}

ul {
    list-style: none;
    margin-right: auto;}

.fix {
    height: 50px;
}

.board-introduction {
    margin: 20px 0 20px 0;
}

// 文字調整の為
.table {
    table-layout: fixed;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#error_explanation {
    color: red;
    font-family: 'GenJyuuGothicX';
    }