<footer class="footer">
    <div class='row'>
    	<div class='col-xs-3 .offset-1'>
    		<p>CopyRight......?</p>
    	</div>
        <div class="col-xs4 .offset-2">
            <%= link_to "お問い合わせフォーム" %>
        </div>
    </div>
</footer>