<footer class="footer">
    <div class='row'>

        <div class='col-xs-3 offset-1'>
    		<p class="copyright">CopyRight......ポンアンドジョンソン</p>
    	</div>

        <% if !admin_signed_in? %>
            <div class="col-xs4 offset-2 copyright">
                <%= link_to "お問い合わせはこちらに〜", users_contacts_new_path, :style=>"color:#666666;" %>
            </div>
        <% end %>

    </div>
</footer>